/*
// for right part elements
*/

/* for search section */
.search-section {
  height: 12%;
  width: 100%;
}

/* for list section */
.list-section {
  height: 64%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

/* for chart section */
.chart-section {
  height: 24%;
  width: 100%;
}


/* 
for search section 
*/


/* 
for list section 
*/

/* for section header */
.section-header {
  height: auto;
  width: 100%;

  margin-top: 1.5rem;
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.section-header img {
  height: 1.5rem;
  width: auto;

  padding: 0;
  margin: 0;
}

.section-header h2 {
  font-size: 1rem;
  font-family: Merriweather, serif;
  font-weight: 900;

  padding: 0;
  margin: 0;
}

/* for poi list */
.poi-list {
  flex-grow: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  padding: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin: 0;

  border-top: 0.1rem solid #aaa;
  border-bottom: 0.1rem solid #aaa;

  overflow-y: auto;
}


/* 
for chart section 
*/


/* 
for poi list
*/
.poi-list li {
  height: auto;
  width: 100%;

  margin-bottom: 1rem;
}

.poi-list li:last-child {
  margin-bottom: 0;
}

/* for each poi element */
.poi {
  height: auto;
  width: 100%;

  padding: 0.5rem 1rem;

  display: grid;
  grid-template-areas: "name name"
                        "subcategory time";
  grid-template-columns: 0.7fr 0.3fr;

  text-align: left;

  border-radius: 4px;

  background-color: white;
}

.poi .poi-name {
  grid-area: name;
  width: 100%;

  margin-bottom: 0.5rem;
  
  font-size: 0.85rem;
  font-weight: 700;
}

.poi .poi-subcategory {
  grid-area: subcategory;
  width: 100%;

  font-size: 0.8rem;
  font-weight: 500;
}

.poi .poi-time {
  grid-area: time;
  width: 100%;

  text-align: right;

  font-size: 0.8rem;
  font-weight: 500;
}

.poi[data-type="Commerce"] {
  border: 0.12rem solid #F26363;
  color: black;
}

.poi[data-type="Commerce"][aria-pressed="true"] {
  background-color:#F26363;
  color: white;
}

.poi[data-type="Mountain"] {
  border: 0.12rem solid #947262;
  color: black;
}

.poi[data-type="Mountain"][aria-pressed="true"] {
  background-color:#947262;
  color: white;
}

.poi[data-type="Recreation"] {
  border: 0.12rem solid #D93BAF;
  color: black;
}

.poi[data-type="Recreation"][aria-pressed="true"] {
  background-color:#D93BAF;
  color: white;
}

.poi[data-type="Restroom"] {
  border: 0.12rem solid #a7a7ad;
  color: black;
}

.poi[data-type="Restroom"][aria-pressed="true"] {
  background-color:#a7a7ad;
  color: white;
}

.poi[data-type="Service"] {
  border: 0.12rem solid #919151;
  color: black;
}

.poi[data-type="Service"][aria-pressed="true"] {
  background-color:#919151;
  color: white;
}

.poi[data-type="Tourism"] {
  border: 0.12rem solid #008C72;
  color: black;
}

.poi[data-type="Tourism"][aria-pressed="true"] {
  background-color:#008C72;
  color: white;
}

.poi[data-type="Transportation"] {
  border: 0.12rem solid #ee9f3e;
  color: black;
}

.poi[data-type="Transportation"][aria-pressed="true"] {
  background-color:#ee9f3e;
  color: white;
}

.poi[data-type="Water"] {
  border: 0.12rem solid #09D;
  color: black;
}

.poi[data-type="Water"][aria-pressed="true"] {
  background-color:#09D;
  color: white;
}