/*
// for all elements
*/
* {
  box-sizing: border-box;

}

* img {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}


/*
// for body elements
*/
body {
  height: 100vh;
  width: 100vw;

  padding: 0;
  margin: 0;

  overflow: hidden;
}

/* header */
header {
  height: 8vh;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: black;
  color: white;

  z-index: 100;
}

/* main */
main {
  height: 92vh;
  width: 100%;

  display: flex;
}

/* footer */
footer {
  height: 4vh;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
}


/*
// for main elements
*/

/* left section */
.left-part {
  height: 100%;
  flex-grow: 1;

  padding: 0;
  margin: 0;

  position: relative;
}

/* right section */
.right-part {
  height: 100%;
  width: 450px;

  padding: 2rem;
  margin: 0;

  display: flex;
  flex-direction: column;
}


/*
// for left section
*/

/* for map */
.map {
  height: 100%;
  width: 100%;

  z-index: 0;
}

/* for poi type list */
.poi-type {
  height: auto;
  width: auto;
  
  position: absolute;
  right: 6%;
  bottom: 8%;

  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  padding: 0;
  margin: 0;

  z-index: 10;
}


/* 
for poi type list 
*/
.poi-type li {
  height: auto;
  width: 100%;

  margin-bottom: 1rem;
}

.poi-type li:last-child {
  margin-bottom: 0;
}

.poi-type button {
  height: auto;
  width: 100%;
  
  padding: 0.5rem 1rem;

  font-size: 1.2rem;
  font-weight: 700;

  border-radius: 4px;

  background-color: white;
}

/* for different poi types */
.poi-type button[data-type="Commerce"] {
  border: 0.2rem solid #F26363;
  color: #F26363;
}

.poi-type button[data-type="Commerce"][aria-pressed="true"] {
  background-color:#F26363;
  color: white;
}

.poi-type  button[data-type="Mountain"] {
  border: 0.2rem solid #947262;
  color: #947262;
}